.buttons {
	font-size: 20px;
	color: white;
	background-color: #deaf23;
	text-align: center;
	border-color: black;
	border-radius: 50%;
	border: 2px solid black;
}
.displayer { 
	grid-column: 1/4;
	background-color: #00baff;	
}